.logo{
  margin-left: 22px;
  text-decoration: none;
}
.logo:hover {
  color: red;
}
.logo_content {
   height: 50px;
   width: 260px;
   display: flex;
 }
 .logo_img {
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 1px;
}
 .logo_text {
   letter-spacing: 0.1px;
   text-transform: lowercase;
   display: flex;
   align-items: center;
   font-weight: 600;
   font-size: 22px;
   padding-bottom: 7px;
   color: rgb(0, 0, 0);
 }
