.container {
  background-color: aliceblue;
  width: 606px;
}
.profile__img {
  width: 250px;
  height: 100px;
}
.content {
  padding-left: 20px ;
}
.imgText {
  padding: 20px;
  font-size: 40px;
  color: white;
}
.user {
  width: 200px;
  height: 200px;
}