.signIn {
   height: 165px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 34px;
  
}
.textField {
   height: 165px;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 30px;
   width: 100%;
}
.textField__container {
   height: 35px;
   width: 100%;
}
.textField__input {
   margin: 0;
   width: 100%;
   height: 34px;
   outline: 0.5px solid rgba(0,0,0,0.12);
   background-color: rgba(129,140,153,0.1);
   border: none;
   border-radius: 8px;
   padding: 0 20px;
   color: rgb(0, 0, 0);
   font-size: 15px;
   font-weight: 450;
   padding-left: 12px;
   padding-right: 12px;
   line-height: 20px;
}
.textField__input:active{
   background-color: rgba(129,140,153,0.1);
}
.textField__input:focus {
   background-color: rgba(129,140,153,0.1);
   border: none;
   outline: 1px solid rgba(0,119,255,0.8);
}
.textField__input::placeholder {
   font-weight: 450;
   color: #818c99;
   font-size: 15px;
   line-height: 20px;
 }
.footer {
   height: 37px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.btn__login {
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
   border-radius: 8px;
   font-size: 16px;
   font-weight: 500;
   height: 36px;
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn__login:hover{
   backdrop-filter: drop-shadow(4px 4px 10px blue);
}

