.header {
  position: sticky;
  top: 0;
  grid-area: header;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55.99px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.3);
}
.container {
  margin-left: 25px;
  background-color: rgb(255, 255, 255);
  width: 861px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55.7px;
}
.logotype {
  padding: 0 0 0 0px;
  width: 264.99px;
  height: 55.99px;
  display: flex;
  text-transform: none;
}
.logotype_link {
  width: 246.99px;
  text-decoration: none;
}
.header_components {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.search {
  display: flex;
  align-items: center;
  width: 263.99px;
}

