.header {
  position: sticky;
  grid-area: header;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 55.99px;
  box-shadow:
    0 1px 4px 0 rgba(0, 0, 0, 0.05),
    0 0 4px 0 rgba(0, 0, 0, 0.05);
}
.container {
  background-color: rgb(255, 255, 255);
  width: 881.99px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 55.98px;
}
.body {
  width: 870px;
  display: flex;
  justify-content: end;
  flex-direction: row;
}
.logotype {
  padding: 0 0 0 0px;
  width: 264.99px;
  height: 55.98px;
  padding: 0 15px 0 3px;
}
.logotype_container {
  width: 246.99px;
  height: 55.98px;
  padding: 0 12px 0 0;
  display: flex;
  align-items: end;
  
}
.logotype_link {
  width: 235px;
  height: 37.98px;
  padding: 19px 0;
  display: flex;
  align-items: last baseline;
}
.header_components {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.search {
  display: flex;
  align-items: center;

}

.header:after {
  border-bottom: rgba(0, 0, 0, 0.05) solid 1px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
}
.title {
  width: 336px;
}
