.container {
  width: 265px;
}
.nav {
  /*padding: 20px;*/
}
.item {
  font-size: 25px;
}
.link{
  text-decoration: none;
  color: black;
}
.link:hover {
  color: red;
}
.item.active {
  color: red;
}
.link:target {
  color: blue;
}
