.container {
  height: 855px;
  width: 264px;
} /* скролл
.container {
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 5px; /* ширина всей полосы прокрутки */
/*

.container::-webkit-scrollbar-track {
  background: rgb(245, 244, 243); /* цвет зоны отслеживания */

/*
.container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(197, 196, 196, 0.3); /* цвет бегунка */
/*border-radius: 20px;*/ /* отступ вокруг бегунка */

.ownerPanel {
  height: 43.98px;
  width: 258px;
  margin: 22px 3px 2px;
  padding: 4px 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.item {
  height: 44px;
  width: 256px;
  font-size: 15px;
  padding: 8px 12px 8px 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.item:hover {
  background-color: rgb(211, 213, 216, 0.5);
  border-radius: 5px;
}
.link {
  display: flex;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 18px;
} 
.ownerPanel__link {
  display: flex;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 10px;
} 
.link svg {
  color: #2688eb;
}
  /*
.item {
  font-size: 15px;
  padding: 8px 12px 8px 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.item:hover {
  background-color: rgb(211, 213, 216, 0.5);
  border-radius: 5px;
}
.link {
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 10px;
  column-gap: 10px;
}
.userName {
  font-size: 15px;
  font-weight: 500;
}
.userName:hover {
  text-decoration: underline;
}
.ownerPanel {
  font-size: 17px;
  padding: 8px 12px 8px 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
*/