.tabs {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 5px 0 0 0;
   flex: 0 1 93%;
   overflow: hidden;
}
.container {
   display: flex;
   flex-direction: row;
   height: 40px;
   max-width: 100%;

   overflow: hidden;
   position: relative;
   align-items: center;
   padding: 0 0 0 12px;
}
.content {
   position: relative;
   overflow-x: hidden;
   display: flex;
   flex-direction: row;
   align-items: center;
   display: flex;
   column-gap: 10px;
   white-space: nowrap;
   cursor: pointer;
   scroll-behavior: smooth;
   color: #818c99;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.icon_scroll {
   position: absolute;
   z-index: 20;
   top: 0;
   cursor: pointer;
   display: flex;
   color: #818c99;
}
.icon_scroll:first-child {
   justify-content: flex-start;
   left: 0;
   /* display: none; */
}
.icon_scroll:last-child {
   right: 0;
   justify-content: flex-end;
}

.icon_scroll:hover {
}
