.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.app_container {
  margin: 56px 0 0 0;
  display: flex;
  justify-content: end;
  column-gap: 1px;
  width: 882px;
  height: 100%;
}
.app_menu {
  width: 266px;
}
.app-wrapper-content {
  display: flex;
  width: 604px;
  height: 100%;
}/*
.containerSearch {
  height: 34px;
  display: flex;
  width: 284px;
  flex-direction: row;
  position: relative;
  animation-direction: reverse;
  animation-name: container;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition-duration: 3s;
  animation-fill-mode: forwards;
  transition-property: width;
}
.containerSearch.entering {
}
.containerSearch.entered {
  position: absolute;
  right: 80.5px;
  top: 11px;
  width: 380px;
}
.containerSearch.exiting {
  width: 380px;
  position: absolute;
  right: 85px;
  top: 12px;
}
.containerSearch.exited {
  width: 380px;
  position: absolute;
  right: 91.5px;
  top: 12px;
}*/
