.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.app_container {
  display: flex;
  justify-content: end;
  column-gap: 1px;
  width: 882px;
  height: 100%;
}
.app_menu {
  width: 266px;
}
.app-wrapper-content {
  display: flex;
  width: 604px;
  height: 100%;
}