.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.app_container {
  display: flex;
  justify-content: space-between;
  width: 58%;
}
.app_navbar {
  display: flex;
  flex: 0 1 30%;
}
.app-wrapper-content {
  background-color: #5277b0 ;
  display: flex;
  width: 750px;
}