
.nav {
  grid-area: nav;
  background-color: rgb(185, 215, 77);
  padding: 20px;
}
.item {
  color: color;
  font-size: 25px;
}
.link{
  text-decoration: none;
  color: aliceblue;
}
.link:hover {
  color: red;
}
.item.active {
  color: red;
}
.link:target {
  color: blue;
}
