.title {
   width: 285px;
   cursor: pointer;
   display: flex;
   align-self: flex-start;
   margin-left: 10px;
 }
 .title_content {
   display: flex;
   align-items: center;
 }
 .title_text {
   display: flex;
   align-items: center;
   color: rgb(0, 0, 0);
   font-size: 20px;
   height: 50px;
   font-weight: 650;

   letter-spacing: 0.2px;

 }
 
 .title_icon {
   display: flex;
   height: 50px;
   align-items: center;
   margin-top: 3px;
 }
 .title_icon svg {
  display: inline-block;
 }